.abh_message {
    line-height: 19px;
    padding: 0px 0;
    font-size: 13px;
    text-align: center;
    margin: -1px 15px 0 5px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFFBCC;
    border-color: #E6DB55
}
.abh_notices {
    font-size: 13px;
    color: #555
}
.abh_loading {
    height: 60px;
    background: transparent url('../img/loading.gif') no-repeat center
}
.abh_minloading {
    height: 20px;
    width: 20px;
    background: transparent url('../img/minloading.gif') no-repeat center
}
.abh_error {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: brown;
    margin: 5px
}
#abh_settings {
    font-family: Arial, sans-serif;
    position: relative
}
#abh_settings #abh_settings_title {
    font-size: 19px;
    font-weight: normal;
    line-height: 35px;
    color: #333;
    margin: 30px 15px 3px 0;
    padding-bottom: 6px;
    height: auto;
    border-bottom: 1px solid #CCC;
    box-shadow: 0px 3px 12px -8px black;
    -moz-box-shadow: 0px 3px 12px -8px black;
    -webkit-box-shadow: 0px 3px 12px -8px black
}
#abh_settings #abh_settings_title a.abh_button,
#abh_settings #abh_settings_title input.abh_button {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px 10px;
    margin: 6px 0 0 20px;
    text-decoration: none;
    cursor: pointer
}
#abh_settings #abh_subscribe {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px
}
#abh_option_subscribe #abh_subscribe_social {
    float: none;
    width: 320px;
    height: 30px;
    clear: both;
    padding-top: 3px
}
#abh_option_subscribe #abh_subscribe_social span {
    float: left
}
#abh_settings #abh_subscribe_email {
    background-color: lightgoldenrodyellow;
    border: 1px solid #333;
    margin: 5px 0 0 0;
    padding: 7px;
    font-size: 15px
}
#abh_settings #abh_subscribe_subscribe {
    margin-left: 3px;
    padding: 0 25px;
    height: 33px;
    font-size: 14px;
    color: green;
    font-weight: bold
}
#abh_settings #abh_subscribe_confirmation {
    color: green;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0
}
#abh_settings .abh_upload {
    float: left;
    margin: 20px
}
#abh_settings .abh_upload_reset {
    float: left;
    clear: both;
    margin: 5px 0
}
#abh_settings .abh_upload_reset input {
    margin-right: 3px;
    margin-top: 3px
}
#abh_settings .abh_upload input {
    float: left
}
#abh_settings .abh_upload #abh_gravatar_update {
    margin-top: 0;
    height: 32px;
    padding: 0 20px
}
#abh_settings .abh_gravatar img {
    float: left;
    margin-top: 5px;
    width: 80px
}
#abh_settings #abh_settings_body {
    display: block;
    font-size: 12px;
    color: #333;
    line-height: 16px;
    text-align: left;
    margin-top: 20px
}
#abh_settings_body #abh_settings_left,
#abh_settings_body #abh_settings_right{
    float: left;

}
#abh_settings_body #abh_settings_left{
    width: 70%;
    min-width: 680px;
}
#abh_settings_body #abh_settings_right{
    width: 30%;
    max-width: 345px;
}
#abh_settings_body #abh_settings_right h4{
    font-size: 15px;
}
#abh_settings_body #abh_settings_right > div{
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

#abh_settings_body #abh_settings_submit {
    clear: both
}
#abh_settings_body fieldset {
    min-width: 400px;
    background: #fcfcfb;
    border: 1px solid #f1f1f1;
    font-size: 1.1em;
    margin: 10px auto;
    padding: 1em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-shadow: 1px 1px white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 5px 9px -8px #999
}
#abh_settings_body #abh_settings_left fieldset {
    margin: 10px 10px 22px 10px
}
#abh_settings_body #abh_settings_right fieldset {
    margin: 10px 0px 22px 0px
}
#abh_settings_body fieldset legend {
    background: #fefefe repeat-x top left;
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: .2em .5em;
    line-height: 20px;
    text-align: left;
    color: #333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}
#abh_settings_body span.abh_settings_info {
    clear: both;
    display: block;
    font-size: 10px;
    width: 100%;
    text-align: right
}
#abh_settings_body ul.abh_settings_info > span {
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    list-style: none
}
#abh_settings_body ul.abh_settings_info li {
    margin-left: 5px;
    font-size: 11px;
    font-weight: normal;
    color: #777
}
#abh_settings_body fieldset p {
    vertical-align: top;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px
}
#abh_settings_body #abh_option_social p {
    clear: both
}
#abh_settings_body #abh_option_social p.abh_social_text {
    height: 30px;
    line-height: 30px
}
#abh_settings_body fieldset p.withborder {
    clear: both;
    vertical-align: top;
    min-height: 45px;
    margin: 7px 0 10px 0;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-size: 12px;
    border-bottom: 1px dashed #CCC
}
#abh_settings_body fieldset p.withcode strong {
    display: block;
    font-size: 10px;
    color: #333;
    margin-left: 15px;
    margin-top: 10px
}
#abh_settings_body fieldset p.withcode input[type=text] {
    width: 170px;
    font-size: 10px;
    margin: 0;
    border: 1px solid green
}
#abh_settings_body fieldset p.abh_show_extra_description {
    clear: both;
    color: green;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px
}
#abh_settings_body fieldset p.abh_extra_description {
    clear: both
}
#abh_settings_body fieldset p.abh_extra_description textarea {
    height: 86px
}
#abh_settings_body fieldset .abh_icon {
    display: block;
    float: left;
    background: transparent url('../img/sprite.png') no-repeat;
    margin: 0 10px 0 0;
    color: brown;
    width: 55px;
    height: 50px
}
#abh_settings_body fieldset .abh_icon_googleplus {
    background-position: -221px -100px
}
#abh_settings_body fieldset .abh_icon_googlewt {
    background-position: -112px -100px
}
#abh_settings_body fieldset .abh_icon_googleanalytics {
    background-position: 0px -100px
}
#abh_settings_body fieldset .abh_icon_facebookinsights {
    background-position: -59px -100px
}
#abh_settings_body fieldset .abh_icon_bingwt {
    background-position: -165px -100px
}
#abh_settings_body fieldset .abh_icon_alexat {
    background-position: -270px -100px
}
#abh_settings_body fieldset p input,
#abh_settings_body fieldset p textarea {
    font-weight: bold;
    margin-left: 15px;
    padding: 4px;
    border: 1px solid lightgray;
    max-width: 415px;
    min-width: 370px
}
#abh_settings_body .abh_select {
    float: left;
    font-weight: bold;
    margin-right: 5px
}
#abh_settings_body .abh_description textarea {
    min-width: 400px
}
#abh_settings_body div p span {
    display: block;
    float: left;
    min-width: 100px;
    padding-top: 4px;
    font-size: 14px
}
#abh_settings_body .abh_button {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 1px 10px;
    margin-left: 11px;
    margin-top: 5px;
    background-color: green;
    color: white
}
#abh_settings_body a.abh_button {
    background: #999;
    padding: 5px 11px;
    text-transform: none;
    text-decoration: none
}
#abh_settings_body .customize,
#abh_settings_body ._customize {
    font-size: 12px;
    font-weight: bold;
    color: blue;
    cursor: pointer
}
#abh_settings_body ._customize {
    margin-top: 10px
}
@media only screen and (max-width: 900px) {
    #abh_settings_body #abh_settings_left,
    #abh_settings_body #abh_settings_right {
        float: none;
        width: 100%;
    }
}
.abh_option_content {
    clear: both;
    padding: 6px 0;
    height: 35px;
}
.abh_option_content > span {
    float: left;
    position: relative;
    padding-top: 7px;
    display: block;
    vertical-align: middle;
    line-height: 15px;
    font-size: 14px;
    text-shadow: 1px 1px #FFF;
    width: 80%;
}
.abh_switch {
    float: left;
    position: relative;
    margin: 0px 9px 0 0;
    height: 26px;
    width: 120px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1)
}
.abh_switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer
}
.abh_switch-label:active {
    font-weight: bold
}
.abh_switch-label-off {
    padding-left: 2px
}
.abh_switch-label-on {
    padding-right: 2px
}
.abh_switch-input {
    display: none !important
}
.abh_switch-input:checked + .abh_switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0px 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out
}
.abh_switch-input:checked + .abh_switch-label-on ~ .abh_switch-selection {
    left: 60px;
    background: lightcoral
}
.abh_switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
    background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
    background-image: -o-linear-gradient(top, #9dd993, #65bd63);
    background-image: linear-gradient(to bottom, #9dd993, #65bd63);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out
}
#abh_settings .abh_option_strictposts {
    float: left;
    clear: both;
    margin: 4px 0 10px 1px
}
#abh_settings .abh_option_strictposts input {
    margin-right: 3px;
    margin-top: 3px
}
.abh_option_content_small {
    clear: both;
    padding: 0px 0;
    height: 20px
}
.abh_option_content > span.abh_option_info_small {
    line-height: 20px;
    font-size: 11px;
    color: #777
}
.abh_option_content_small .abh_switch {
    margin: 0px 9px 0 0;
    height: 18px;
    width: 60px
}
.abh_option_content_small .abh_switch-label {
    width: 28px;
    line-height: 17px;
    font-size: 9px
}
.abh_option_content_small .abh_switch-input:checked + .abh_switch-label-on ~ .abh_switch-selection {
    left: 31px
}
.abh_option_content_small .abh_switch-selection {
    top: 1px;
    left: 1px;
    width: 28px;
    height: 16px
}
.abh_option_content_small > span {
    font-size: 11px !important
}
.abh_social_settings {
    display: block;
    float: right;
    line-height: 1px;
    padding: 0;
    margin: 0;
    text-align: right
}
.abh_social_settings {
    width: 140px;
    margin: 0 0 0 auto
}
.abh_social_settings {
    display: inline-block;
    background: transparent url('../img/sprite.png') no-repeat;
    min-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    margin: 1px 5px 0 0 !important;
    opacity: .5;
    transition: opacity .2s;
    text-decoration: none;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.abh_social_settings:hover {
    opacity: 1
}
span.abh_facebook {
    background-position: 0px 0px
}
span.abh_flickr {
    background-position: -24px 0px
}
span.abh_google {
    background-position: -48px 0px
}
span.abh_instagram {
    background-position: -72px 0px
}
span.abh_linkedin {
    background-position: -96px 0px
}
span.abh_pinterest {
    background-position: -120px 0px
}
span.abh_tumblr {
    background-position: -144px 0px
}
span.abh_twitter {
    background-position: -168px 0px
}
span.abh_vimeo {
    background-position: -192px 0px
}
span.abh_youtube {
    background-position: -216px 0px
}
.abh_settings_rate {
    display: block;
    font-size: 14px;
    width: 350px;
    clear: both;
    cursor: pointer
}
.abh_settings_rate span {
    margin: 3px 5px 0 0;
    float: left;
    display: block;
    width: 104px;
    height: 26px;
    background: transparent url('../img/sprite.png') no-repeat;
    background-position: 0px -74px
}
#abh_box_preview_title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    color: orange;
    text-align: center;
    width: 700px;
    width: 600px;
    margin-left: 115px
}
#abh_box_preview {
    position: relative;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 600px;
    min-height: 130px;
    padding: 10px;
    margin-left: 115px
}
#abh_box_preview .abh_box {
    margin: 0 !important
}