.abh_box_down {
    margin: 0 0 15px 0 !important
}

.abh_box_up {
    margin: 0 0 15px 0 !important
}

.abh_box {
    clear: both !important;
    position: relative !important;
    width: 100% !important
}

.abh_tabs {
    display: none;
    position: absolute !important;
    top: 57px !important;
    left: -3px !important;
    width: 55px !important;
    list-style: none !important;
    padding: 0 0 5px 0 !important;
    margin: 0 !important;
    font: 13px arial !important
}

.abh_tabs li {
    display: block;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    text-align: center !important;
    line-height: 11px !important;
    height: 15px !important
}

.abh_tabs li:before {
    content: "" !important;
    padding: 0 !important;
    margin: 0 !important
}

.abh_tabs li a {
    font-size: 10px !important;
    border: 0 solid #ccc !important;
    text-decoration: none !important;
    border-bottom: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li.abh_active a {
    padding: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li a.icon_accept {
}

.abh_tabs li a.icon_accept:hover {
    padding-left: 24px !important
}

.abh_tabs_content_container {
    border: 2px solid #ccc !important;
    border-top: none !important;
    padding: 10px !important;
    width: 400px !important
}

.abh_tab_content {
    padding: 31px 0 10px 0 !important;
    margin-left: 65px !important;
    min-height: 10px !important;
    overflow: hidden !important;
    border-bottom: 0 solid #ddd !important
}

.abh_tab_content .abh_tab {
    display: none;
    border: none !important
}

.abh_tab_content .abh_image {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: block;
    float: left !important;
    width: 80px !important
}

.abh_tab_content .abh_image img {
    width: 50px !important;
    height: 50px !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    -webkit-border-radius: 50% 50% 50% 50% !important;
    -moz-border-radius: 50% 50% 50% 50% !important;
    border-radius: 50% 50% 50% 50% !important;
    cursor: pointer !important;
    padding: 0 !important;
    margin: 0 !important
}

.abh_tab_content .abh_image a{
    border: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_text {
    margin-left: 5px !important;
    line-height: 1.5 !important
}

.abh_tab_content .abh_text h3, .abh_tab_content .abh_text h4 {
    clear: none !important;
    font-weight: bold !important;
    position: absolute !important;
    top: 11px !important;
    left: 70px !important;
    text-transform: capitalize !important;
    text-align: left !important;
    font-size: 18px !important;
    line-height: 1 !important;
    text-decoration: none !important;
    margin: 0 !important;
    padding: 0 0 5px 0 !important;
    border-bottom: 1px solid #ddd !important;
    cursor: pointer !important
}

.abh_tab_content .abh_text h3 a:hover, .abh_tab_content .abh_text h4 a:hover {
    text-decoration: none !important
}

.abh_tab_content .abh_text h3 .abh_arrow {
    float: right !important;
    background: transparent url('../img/sprite.png') no-repeat !important;
    background-position: 0 -29px !important;
    display: inline-block !important;
    font-size: 14px !important;
    padding-right: 0 !important;
    margin: 0 !important;
    width: 35px !important;
    height: 17px !important
}

.abh_tab_content .abh_text h3 .abh_active {
    background-position: 0 -49px !important
}

.abh_tab_content .abh_text a {
    line-height: 20px;
    font-size: 100% !important;
    text-decoration: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_text .abh_job {
    display: none;
    font-size: 13px !important;
    font-weight: 100 !important;
    line-height: 35px !important
}

.abh_tab_content .abh_text .abh_job span {
    vertical-align: top !important;
    font-size: 13px !important;
    background-image: none;
    padding: 0 !important;
    margin: 0 !important;
}

.abh_tab_content .abh_description {
    display: none;
    position: static !important;
    width: 100% !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.abh_tab_content .abh_text .abh_allposts {
    display: none;
    font-size: 11px !important;
    vertical-align: middle !important
}

.abh_tab_content .abh_text ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 5px 0 0 10px !important
}

.abh_tab_content .abh_text ul li, .abh_tab_content .abh_text ul li span {
    font-size: 13px !important;
    line-height: 20px !important;
    margin: 0 !important;
    padding: 3px 0 !important;
}

.abh_tab_content .abh_social {
    display: none;
    float: right !important;
    width: 140px !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1px !important;
    text-align: right !important
}

.abh_tab_content .abh_social a {
    display: inline-block !important;
    background: transparent url('../img/sprite.png') no-repeat !important;
    width: 24px !important;
    height: 24px !important;
    margin: 1px !important;
    padding: 0 !important;
    opacity: .5 !important;
    transition: opacity .2s !important;
    -moz-transition: opacity .2s !important;
    -webkit-transition: opacity .2s !important;
    -o-transition: opacity .2s !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_social a:hover {
    opacity: 1 !important
}

.abh_tab_content .abh_social a.abh_facebook {
    background-position: 0 0 !important
}

.abh_tab_content .abh_social a.abh_flickr {
    background-position: -24px 0 !important
}

.abh_tab_content .abh_social a.abh_google {
    background-position: -48px 0 !important
}

.abh_tab_content .abh_social a.abh_instagram {
    background-position: -72px 0 !important
}

.abh_tab_content .abh_social a.abh_linkedin {
    background-position: -96px 0 !important
}

.abh_tab_content .abh_social a.abh_pinterest {
    background-position: -120px 0 !important
}

.abh_tab_content .abh_social a.abh_tumblr {
    background-position: -144px 0 !important
}

.abh_tab_content .abh_social a.abh_twitter {
    background-position: -168px 0 !important
}

.abh_tab_content .abh_social a.abh_vimeo {
    background-position: -192px 0 !important
}

.abh_tab_content .abh_social a.abh_youtube {
    background-position: -216px 0 !important
}

.abh_box .vcard {
    background: none !important;
    font-size: 100% !important;
    border: none !important
}

.abh_box .abh_pwb {
    display: none
}

.abh_box .abh_pwb a {
    position: absolute !important;
    text-decoration: none !important;
    font-size: 9px !important;
    color: #999 !important;
    right: 0 !important;
    bottom: -20px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}