.editorialeditor div#ed_toolbar,.editorialeditor div#wpfooter,.editorialeditor div.ngg_admin_notice, .editorialeditor div#autopaging, .editorialeditor div#postimagediv, .editorialeditor div#ssb_meta_box, .editorialeditor div#formatdiv,.editorialeditor ul.subsubsub .all, .editorialeditor ul.subsubsub .yoast_cornerstone, .editorialeditor ul.subsubsub .trash,.editorialeditor ul.subsubsub li{
    display: none;
}
.add-inseditor div#ed_toolbar,.add-inseditor div#wpfooter,.add-inseditor div.ngg_admin_notice, .add-inseditor div#autopaging, .add-inseditor div#postimagediv, .add-inseditor div#ssb_meta_box, .add-inseditor div#formatdiv,.add-inseditor ul.subsubsub .all, .add-inseditor ul.subsubsub .yoast_cornerstone, .add-inseditor ul.subsubsub .trash,.add-inseditor ul.subsubsub li{
    display: none;
}
.videoeditor div#ed_toolbar,.videoeditor div#wpfooter,.videoeditor div.ngg_admin_notice, .videoeditor div#autopaging, .videoeditor div#postimagediv, .videoeditor div#ssb_meta_box, .videoeditor div#formatdiv,.videoeditor ul.subsubsub .all, .videoeditor ul.subsubsub .yoast_cornerstone, .videoeditor ul.subsubsub .trash,.videoeditor ul.subsubsub li{
    display: none;
}
.magazineeditor div#ed_toolbar,.magazineeditor div#wpfooter,.magazineeditor div.ngg_admin_notice, .magazineeditor div#autopaging, .magazineeditor div#postimagediv, .magazineeditor div#ssb_meta_box, .magazineeditor div#formatdiv,,.magazineeditor ul.subsubsub .all, .magazineeditor ul.subsubsub .yoast_cornerstone, .magazineeditor ul.subsubsub .trash,.magazineeditor ul.subsubsub li{
    display: none;
}
.libraryeditor div#ed_toolbar,.libraryeditor div#wpfooter,.libraryeditor div.ngg_admin_notice, .libraryeditor div#autopaging, .libraryeditor div#postimagediv, .libraryeditor div#ssb_meta_box, .libraryeditor div#formatdiv,.libraryeditor ul.subsubsub .all, .libraryeditor ul.subsubsub .yoast_cornerstone, .libraryeditor ul.subsubsub .trash,.libraryeditor ul.subsubsub li{
    display: none;
}
.blogger div#ed_toolbar,.blogger div#wpfooter,.blogger div.ngg_admin_notice, .blogger div#autopaging, .blogger div#postimagediv, .blogger div#ssb_meta_box, .blogger div#formatdiv,.blogger ul.subsubsub .all, .blogger ul.subsubsub .yoast_cornerstone, .blogger ul.subsubsub .trash,.blogger ul.subsubsub li{
    display: none;
}
.interviewer div#ed_toolbar,.interviewer div#wpfooter,.interviewer div.ngg_admin_notice, .interviewer div#autopaging, .interviewer div#postimagediv, .interviewer div#ssb_meta_box, .interviewer div#formatdiv,.interviewer ul.subsubsub .all, .interviewer ul.subsubsub .yoast_cornerstone, .interviewer ul.subsubsub .trash,.interviewer ul.subsubsub li{
    display: none;
}
.featurewriter div#ed_toolbar,.featurewriter div#wpfooter,.featurewriter div.ngg_admin_notice, .featurewriter div#autopaging, .featurewriter div#postimagediv, .featurewriter div#ssb_meta_box, .featurewriter div#formatdiv,.featurewriter ul.subsubsub .all, .featurewriter ul.subsubsub .yoast_cornerstone, .featurewriter ul.subsubsub .trash,.featurewriter ul.subsubsub li{
    display: none;
}
.reporter div#ed_toolbar,.reporter div#wpfooter,.reporter div.ngg_admin_notice, .reporter div#autopaging, .reporter div#postimagediv, .reporter div#ssb_meta_box, .reporter div#formatdiv,.reporter ul.subsubsub .all, .reporter ul.subsubsub .yoast_cornerstone, .reporter ul.subsubsub .trash,.reporter ul.subsubsub li{
    display: none;
}
.writer div#ed_toolbar,.writer div#wpfooter,.writer div.ngg_admin_notice, .writer div#autopaging, .writer div#postimagediv, .writer div#ssb_meta_box, .writer div#formatdiv,.writer ul.subsubsub .all, .writer ul.subsubsub .yoast_cornerstone, .writer ul.subsubsub .trash,.writer ul.subsubsub li{
    display: none;
}
.newseditor div#ed_toolbar,.newseditor div#wpfooter,.newseditor div.ngg_admin_notice, .newseditor div#autopaging, .newseditor div#postimagediv, .newseditor div#ssb_meta_box,.newseditor div#formatdiv,.newseditor ul.subsubsub .all,.newseditor ul.subsubsub .yoast_cornerstone,.newseditor ul.subsubsub .trash,.newseditor ul.subsubsub li{
    display: none;
}
.newseditor ul.subsubsub li.mine,.writer ul.subsubsub li.mine,.reporter ul.subsubsub li.mine,.featurewriter ul.subsubsub li.mine,.interviewer ul.subsubsub li.mine,.blogger ul.subsubsub li.mine,.libraryeditor ul.subsubsub li.mine,.magazineeditor ul.subsubsub li.mine,.videoeditor ul.subsubsub li.mine,.add-inseditor ul.subsubsub li.mine,.editorialeditor ul.subsubsub li.mine{
	display:block;
}
div#wpfooter{
	display: none;	
}
.ngg_admin_notice{
    display: none;
}
.administrator #screen-meta-links{
	display: block;
}
.mce-toolbar,div#wp-content-editor-tools {
    display: none;
}
.administrator .mce-toolbar,.administrator  div#wp-content-editor-tools {
    display: block;
}
div#reendex_post_settings_box,div#um-admin-restrict-content {
    display: none;
}
.wp-editor-expand div.mce-toolbar-grp {
    display: none;
}
.field-menuposition .edit-menu-item-menuposition,
.field-sale .edit-menu-item-sale,
.field-column .edit-menu-item-column{
	width: 100px;
}
ul#menu-to-edit li.menu-item-depth-6 .hidn,
ul#menu-to-edit li.menu-item-depth-5 .hidn,
ul#menu-to-edit li.menu-item-depth-4 .hidn,
ul#menu-to-edit li.menu-item-depth-3 .hidn,
ul#menu-to-edit li.menu-item-depth-2 .field-enablemegamenu,
ul#menu-to-edit li.menu-item-depth-2 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-2 .field-sale ,
ul#menu-to-edit li.menu-item-depth-2 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-1 .cs-fieldset,
ul#menu-to-edit li.menu-item-depth-1 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-1 .field-sale ,
ul#menu-to-edit li.menu-item-depth-1 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-enablemegamenu ,
ul#menu-to-edit li.menu-item-depth-0 .cs-fieldset ,
ul#menu-to-edit li.menu-item-depth-0 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-0 .field-columntitle{
	display: none;
}
.menu-settings {
  clear: both;
}
.menu-item-edit-active .menu-item-settings {
  overflow: hidden;
}
.wp-admin select[multiple] {
    min-height: 300px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 22px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 20px !important;
}
.regular-text {
    width: 75em;
}
#screen-meta-links {
    display: none;
}
.administrator #screen-meta-links{
	display: block;
}
div#reendex_post_settings_box,div#um-admin-restrict-content {
    display: none;
}
.field-menuposition .edit-menu-item-menuposition,
.field-sale .edit-menu-item-sale,
.field-column .edit-menu-item-column{
	width: 100px;
}
ul#menu-to-edit li.menu-item-depth-6 .hidn,
ul#menu-to-edit li.menu-item-depth-5 .hidn,
ul#menu-to-edit li.menu-item-depth-4 .hidn,
ul#menu-to-edit li.menu-item-depth-3 .hidn,
ul#menu-to-edit li.menu-item-depth-2 .field-enablemegamenu,
ul#menu-to-edit li.menu-item-depth-2 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-2 .field-sale ,
ul#menu-to-edit li.menu-item-depth-2 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-1 .cs-fieldset,
ul#menu-to-edit li.menu-item-depth-1 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-1 .field-sale ,
ul#menu-to-edit li.menu-item-depth-1 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-enablemegamenu ,
ul#menu-to-edit li.menu-item-depth-0 .cs-fieldset ,
ul#menu-to-edit li.menu-item-depth-0 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-0 .field-columntitle{
	display: none;
}
.menu-settings {
  clear: both;
}
.menu-item-edit-active .menu-item-settings {
  overflow: hidden;
}
.wp-admin select[multiple] {
    min-height: 300px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 22px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 20px !important;
}
.regular-text {
    width: 75em;
}
div#dashboard_primary{
    display: none;
}
.index-php div#postbox-container-1{
    display: none;
}
div#dashboard_quick_press {
    width: 50%;
}
div#postbox-container-2 {
    width: 100% !important;
}
.contentmoderator li#wp-admin-bar-new-logoshowcase {
    display: none;
}
