/* Control - Radio Image */
li.customize-control-radio-image input[type="radio"] {
	display: none;
}
li.customize-control-radio-image label,
li.customize-control-radio-image input,
li.customize-control-radio-image img {
	outline: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}
li.customize-control-radio-image label {
	display: inline-block;
	margin: 15px 15px 0 0;
}
li.customize-control-radio-image img {
	width: 100%;
	height: auto;
	border: 2px solid #d9d9d9;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
li.customize-control-radio-image input:checked + img {
	border-color: #0073aa;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
label{
    display: inline-block;
}
label img{
    pointer-events: none;
}